.background {
  padding: 2rem 0;
  font-family: "Arial", sans-serif;
  color: #2c3e50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #00a7ac;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-background-clip: text;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.perentsSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 247, 247);

  width: 100%;
  margin-top: 2rem;
}
.section {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.sectionReversed {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.sectionReversed {
  flex-direction: row-reverse;
}

.roundNumber {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.textContent {
  margin-top: 0.5rem;
  line-height: 1.5;
  padding: 20px;
  text-align: left;
}

.imageContent {
  height: 200px;
  width: 400px;
  object-fit: cover;
  margin-top: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
  transform: perspective(1000px) rotateY(10deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.imageContent:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.29);
}

.linkText {
  color: #00a7ac;
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .sectionReversed {
    display: flex;
    flex-direction: column;
  }
  .textContent {
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imageContent {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .sectionReversed {
    display: flex;
    flex-direction: column;
  }
  .textContent {
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imageContent {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .sectionReversed {
    display: flex;
    flex-direction: column;
  }
  .textContent {
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imageContent {
    width: 450px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .sectionReversed {
    display: flex;
    flex-direction: column;
  }
  .textContent {
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imageContent {
    width: 450px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 520px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .sectionReversed {
    display: flex;
    flex-direction: column;
  }
  .textContent {
    width: auto;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imageContent {
    width: 450px;
  }
}
